

.navTop {
    height: 2rem;
    background-color: rosybrown;
    background-image: url('https://sanx-xcrino.vercel.app/_next/static/media/navbarBackgroundImage.3cf23f5e.png');
    background-size: cover;
    background-position: center; /* Optional: Center the background image */
    width: 100vw;
    display: flex;
    align-items: center;
    
  }
  
  .navText{
    margin: 0;
  }

  .truImg{
    width: 29px;
    margin-left: 46px;
  }
  .navText{
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    margin-left: 9px;
    width: 9rem;
  }

  .truck:hover .truImg {
    transform: translateX(10px); /* Adjust the distance to move */
    transition: transform 0.3s ease; /* Add a smooth transition */
  }
  


  .centerText {
    overflow: hidden; /* Ensure that only one image is visible at a time */
  }
  
  .cenNavImg {
    width: 21rem;
    margin-left: 25rem;
    animation: moveUpDown 4s linear infinite;
    transform-origin: center bottom; /* Set the transform origin to the bottom center */
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100%); /* Adjust the distance the image should move */
    }
  }
  
  
  
  


  .navText2{
    color: rgb(251 52 120);
    font-size: 16px;
    margin-right: 34px;
    width: 14rem;
  }
  

  .afterNav{
    height: 9rem;
    background-color: #fcfcfccc;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .leftImg {
    height: 7rem;
    width: 21vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
  }
  
  .leftImg img {
    max-width: 100%;
    height: auto;
  }
  

  .searchItems {
    height: 2.6rem;
    width: 30vw;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid dimgray;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


  

  .optionItems {
    height: 7rem;
    width: 29vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 40px;
  }
  
  .optionItems > div {
    display: flex;
    align-items: center;
  }
  
  .optionItems > div img {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Adjust the spacing between image and text */
  }
  
  .optionItems > div h4 {
    font-size: 12px;
    margin: 0;
  }
  
  .optionItems img:last-child {
    width: 20px;
    height: 20px;
  }
  

  

  .detailSer{
    align-items: center;
    font-size: 15px;
    height: 2.6rem;
    display: flex;
    color: gray;
    width: 8rem;
    margin-top: 2px;
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray;
  }

  .detailSer h4{
    font-size: 13px;
    margin-left: 14px;
  }


  .headOptions {
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .option {
    display: flex;
    align-items: center;
  }
  
  .option img {
    width: 30px;
    height: 30px;
  }
  
  .option h4 {
    font-size: 15px;
    font-weight: 500;
    color: rgb(102 72 65);
  }
  
  .headCards{
    height: 12rem;
    width: 100vw;
    display: flex;
    background-color: rgb(209 234 247);
    justify-content: center;
    align-items: center;
  
    
  }


  .card {
    width: 10rem;
    margin-top: 4px;
    text-align: center;
    background-color: rgb(242 252 228);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  }
  

  
  .cardWrap{
    background-color: white;
    height: 9rem;
    width: 11rem;
    border-radius: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 0.7rem;
  }



.bannerDiv {
  background-color: antiquewhite;
  width: 100vw;
  height: 35rem;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  position: relative;
  height: 100%;
}

Image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
}

.arrow {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: 10px;
  background-color: #aef5f5;
    color: white;
    border-radius: 7rem;
    width: 3rem;
    display: flex;
    justify-content: center;
}

.right-arrow {
  right: 23px;
  background-color: #aef5f5;
    color: white;
    border-radius: 7rem;
    width: 3rem;
    display: flex;
    justify-content: center;
}




/* CSS code in your CSS file */
.afterBanner {
  width: 100vw;
  height: 10rem;
  display: flex;
  padding: 20px;
  background-color: #ffffff;
  justify-content: center;
}

.custom-card {
  width: 235px;
  margin: 9px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(244 246 250);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure images stay inside the card */
  text-align: center; /* Center align text content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a default shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions for smooth animation */

}

.custom-card:hover {
  transform: translateY(-5px); /* Move the card upward on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
}


.custom-card img {
  width: 17%;
  height: auto;
  object-fit: cover; /* Make sure the image covers the entire space */
  border-radius: 6px; /* Example border radius for image */
  margin: 0 auto; /* Center the image horizontally */
  transition: transform 0.3s ease; 
}

.custom-card:hover img {
  transform: translateY(-5px); /* Move the image upward on hover */
}

.custom-card h4 {
  margin-top: 10px; /* Add margin as needed */
  font-size: 16px; /* Example font size */
  max-width: 100%; /* Ensure text stays within the card */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
  margin-bottom: auto;
}

.custom-card p {
  margin-top: 8px; /* Add margin as needed */
  font-size: 14px; /* Example font size */
  color: #555; /* Example text color */
  max-width: 100%; /* Ensure text stays within the card */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}



.warningBox{
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wBox{
  height: 4rem;
    width: 90vw;
    background-color: transparent;
    text-align: center;
    padding-top: 8px;
    font-size: 14px;
    color: rgb(128 76 46);
    border: 3px solid rgb(136 228 235 / 37%);
}

.nextHead{
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128 76 46);
}

.nextHead img{
width: 15rem;
}


/* ColoumItems.css */
/* ColoumItems.css */

.coloumItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
}

.card-row {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.coloumCard {
  width: 297px;
  margin: 0.4rem;
  height: 22rem;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: grid;
  margin-top: -2rem;
  color: rgb(128 76 46);
  overflow: hidden; /* Ensure the image doesn't overflow the card */
}

.coloumCard img {
  width: 100%;
  height: 18rem;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

.coloumCard:hover img {
  transform: scale(1.05); /* Zoom in by 5% on hover */
}

.coloumCard p {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}



.boxTwo{
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.TwoBoxh{
  height: 4rem;
  width: 17vw;
  background-color: #aae2f1;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: rgb(128 76 46);
}

.nextHeadTwo{
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128 76 46);
}

.nextHeadTwo img{
width: 4rem;
}

.nextHeadTwo h4{
  font-size: 27px;
    font-weight: 400;
}

.bannerTwo{
  width: 100vw;
  display: grid;
  color: rgb(128 76 46);
  justify-content: center;
  margin-top: 2rem;
}

.bannerTwo img{
  width: 90vw;
}

.bannerTwo h4{
  margin-top: 11px;
  margin-bottom: auto;
  font-size: 13px;
}

.bannerTwo p{
  margin-top: -1px;
    font-size: 12px;
}



.singleImg{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.singleImg img{
  width: 89vw;
}

.nextHeadThree{
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128 76 46);
  margin-top: 3rem;
}

.nextHeadThree img{
width: 4rem;
}

.nextHeadThree h4{

  font-size: 27px;
    font-weight: 500;
}

/* YourStyles.css */

.cardShow {
  height: 25rem;
  display: flex;
  align-items: center;
  position: relative;
}

.showCard {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.showCard img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.showLeftArrow,
.showRightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.showLeftArrow {
  left: 30px;
  background-color: #72fff675;
  border-radius: 10rem;
  color: white;
  width: 4rem;
  font-size: 20px;
}

.showRightArrow {
  right: 30px;
  background-color: #72fff675;
  border-radius: 10rem;
  color: white;
  width: 4rem;
  font-size: 20px;
}


.imgDivv{
  width: 11vw;
}

.imgDivv h4 {
  font-size: 11px;
}

.imgDivv p{
  font-size: 11px;
}


.nextHeadFour{
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128 76 46);
  
}

.nextHeadFour img{
width: 4rem;
}

.nextHeadFour h4{

  font-size: 27px;
    font-weight: 500;
}

.tags {
  width: 8vw;
  border-radius: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 30px;
  background-color: #dadada61;
  margin: 5px; /* Adjust margin as needed */
}

.tags h4 {
  font-size: 13px;
    color: gray;
    margin: auto;
}

.hashTags {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  margin-top: 3rem;
  width: 90vw;
  margin-left: 6rem;
}


.qa{
  width: 80vw;
  height: 18rem;
 
  margin: auto;
  margin-top: 2rem;
}

.qaItems{
  width: 80vw;
  height: 6rem;
  
}

.qaItems h4{
  margin: 0;
    font-size: 11px;
    font-weight: 400;
}

.qaItems h5{
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  margin-top: 8px;
}

.qaBorder{
  border: 1px dotted #808182;
    margin-top: 1rem;
}



.boxThree{
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;

}
.ThreeBoxh{
  height: 3.5rem;
  width: 21vw;
  background-color: #aae2f1;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: rgb(128 76 46);
}

.footer{
  width: 100vw;
  height: 27rem;
  display: flex;
  justify-content: space-around;
  align-items: unset;
  background-image: url('https://sanx-xcrino.vercel.app/_next/static/media/newsletter-background.a58baf31.png');
}
.footerImg{
  margin-top: 2rem;
}



.footerText{
  margin-top: 6rem;
  width: 31vw;
  font-family: 'Poppins', sans-serif;
}
.footerText h3{
 font-size: 27px;
}


/* .footerImg img{
  width: 21vw;
} */

.footerImg img {
  width: 21vw;
  animation: moveUpDown 4s infinite; /* Adjust the duration as needed */
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the distance to move */
  }
}



.searchBarFooter input{
  border: none;
  width: 20rem;
  padding-left: 22px;
  height: 2.7rem;
  border-top-left-radius: 3rem; /* Border radius for the top-left corner */
  border-bottom-left-radius: 3rem; 
}

.searchBarFooter button{
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem; 
  background-color: rgb(244 222 225);
}